.Comments {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
	background-color: white;
	padding: 1rem 16px;
	border-radius: 8px;
	color: #444;
	border: 1px solid #bbb;
}

.SingleComment {
  border-bottom: 1px solid #bbb;
  padding: 16px 1em;
}

.SingleComment--author .AuthorCard__name {
  color: orangered;
}

.SingleComment--author .AuthorCard__avatar {
  border-color: orangered;
}