.ArticleBody {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'author author'
		'title  title'
		'body   body'
		'date   votes';
	row-gap: 0.5em;
}

.ArticleBody__author {
	grid-area: author;
}

.ArticleBody__body {
	grid-area: body;
}

.ArticleBody__title {
  font-weight: 600;
	color: black;
	grid-area: title;
}

.ArticleBody__date {
	grid-area: date;
}
