.ArticlePreview {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	min-height: 6em;
  padding: 1rem 16px;
}

.ArticlePreview__title {
	font-family: 'Hind Madurai', sans-serif;
  size: 2em;
}

.AuthorCard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AuthorCard__avatar {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  object-fit: cover;
  border-radius: 50%;
}