.Comments {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}

.SingleComment {
  display: grid;
	grid-template-areas:
  'author author'
  'body body'
  'date vote'
  '. delete';
	grid-template-columns: 1fr 1fr;
  row-gap: 0.7em;
	border-bottom: 1px solid #bbb;
	padding: 16px 1em;
}

.SingleComment--isAuthor .AuthorCard__name {
	color: orangered;
}

.SingleComment--isAuthor .AuthorCard__avatar {
	border-color: orangered;
}

.SingleComment__date {
	grid-area: date;
}

.SingleComment__body {
	grid-area: body;
}

.SingleComment__vote {
  display: flex;
	align-items: center;
	justify-content: end;
}

.SingleComment__delete {
  grid-area: delete;
}